::-webkit-scrollbar {
  width: 5px;
  background-color: #cccccc;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 6px #c8c8c8 inset;
}
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb:active {
  background-color: #f1f1f1;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.button_up:hover {
  transform: translateY(-2px);
  transition: all 0.2s;
  box-shadow: 0 4px 14px 0 #2e85e7;
}
